{
	frankenphp
}

new.loopgoods.org {
    reverse_proxy php:5173
}

nginx.loopgoods.org {
    reverse_proxy https://nginx-mail:443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}



surat.politala.ac.id {
	root * /var/www/public
	encode zstd br gzip

	# Logging (opsional untuk debug)
	log {
		output stdout
		level DEBUG
	}

	# Handle file statis tertentu lebih awal
	@staticFiles path /build/* /favicon.ico /robots.txt
	handle @staticFiles {
		file_server
	}

	# ✅ Tambahkan ini agar /storage bisa diakses
	@storage path /storage/*
	handle @storage {
		file_server
	}

	# PHP (FrankenPHP)
	php_server

	# Default: file server fallback
	file_server
}

