{
	frankenphp
}

mail.loopgoods.org {
	root * /var/www/public
	encode zstd br gzip

	# Prioritaskan file statis dulu
	@staticFiles path /build/* /favicon.ico /robots.txt
	handle @staticFiles {
		file_server
	}

	php_server
	file_server
}
